repos:

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff-check
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/biomejs/pre-commit
  rev: v2.1.2
  hooks:
  - id: biome-check
