name: Docs
permissions:
  contents: read

on:
  push:
    branches:
      - main

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    name: Build VitePress
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 'latest'
          cache: 'npm'

      - name: dependencies
        run: npm ci

      - name: build
        run: npm run docs

      - name: upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: .vitepress/dist

  deploy:
    name: Deploy to Pages
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write

    steps:
      - name: deploy
        id: deployment
        uses: actions/deploy-pages@v4
